# all
.vscode/
*.pyc

# tf_version
tf_version/code/.ipynb_checkpoints
tf_version/data/
tf_version/model/
tf_version/output/
tf_version/result/

# keras_version
keras_version/dataset/
keras_version/UrbanRegionData/
keras_version/output/
keras_version/log/
